*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  min-height:100vh;
  font-family:'Segoe UI',sans-serif;
  background:linear-gradient(135deg,#020024,#090979,#3b0764);
  color:white;
  overflow-x:hidden;
}

.moon-section{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:30px 15px;
  position:relative;
}

.moon{
  position:absolute;
  top:40px;
  right:70px;
  font-size:5rem;
  animation:float 4s ease-in-out infinite;
}

.letter-card{
  width:100%;
  max-width:760px;
  padding:42px 32px;
  text-align:center;
  border-radius:30px;
  background:rgba(255,255,255,.12);
  backdrop-filter:blur(15px);
  box-shadow:0 12px 40px rgba(0,0,0,.35);
}

.tag{
  display:inline-block;
  padding:10px 22px;
  border-radius:30px;
  background:rgba(255,255,255,.18);
  font-weight:700;
  margin-bottom:18px;
}

h1{
  font-size:2.8rem;
  font-weight:900;
  margin-bottom:18px;
}

.intro{
  font-size:1.1rem;
  line-height:1.7;
  margin-bottom:26px;
}

button{
  border:none;
  padding:14px 34px;
  border-radius:40px;
  background:white;
  color:#5b21b6;
  font-weight:800;
  cursor:pointer;
  transition:.3s;
  margin:10px;
}

button:hover{
  transform:translateY(-4px) scale(1.04);
}

.letter-box{
  margin-top:25px;
  min-height:170px;
  padding:26px;
  border-radius:25px;
  background:rgba(255,255,255,.16);
  line-height:1.8;
  font-size:1.08rem;
  text-align:left;
}

#finalBtn{
  display:none;
}

.final-note{
  display:none;
  margin-top:20px;
  padding:20px;
  border-radius:22px;
  background:rgba(255,215,0,.16);
  line-height:1.7;
}

.star{
  position:fixed;
  bottom:-30px;
  font-size:22px;
  animation:floatUp linear forwards;
  pointer-events:none;
}

@keyframes float{
  0%,100%{
    transform:translateY(0);
  }
  50%{
    transform:translateY(-15px);
  }
}

@keyframes floatUp{
  to{
    transform:translateY(-110vh) rotate(360deg);
    opacity:0;
  }
}

@media(max-width:768px){
  h1{
    font-size:2rem;
  }

  .moon{
    top:15px;
    right:25px;
    font-size:3.5rem;
  }

  .letter-card{
    padding:32px 20px;
  }
}